<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rehapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo1_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo1_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="RtlEnabled">
        <activity android:name=".Activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Home" />
        </activity>
        <activity android:name=".Activity.EnduranceActivityH"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Home" />
        </activity>
        <activity android:name=".Activity.EnduranceActivityL"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Home" />
        </activity>
        <activity android:name=".Activity.StrengthActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Home" />
        </activity>
        <activity android:name=".Activity.Home"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.LogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AddNotification"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ActivityEdit"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ExplainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.TermsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.SettingsActivity" />
        </activity>
        <activity android:name=".Activity.LicenseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.SettingsActivity" />
        </activity>

    </application>

</manifest>